@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap'); 

* {
    margin: 0;
}
body {
    display: flex; 
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    padding: 20px 100px 0px;
    align-items: center; 
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a, 
.heroText {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    padding: 0px 0px 0px 20px;
}

.hero {
    background-color: #1F2937;
    padding: 100px;
    display: flex;
    gap: 50px;

}

.heroHeadline {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

button {
    border: none;
}

.signup {
    padding: 8px 30px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    margin-top: 10px;
}

img {
    height: 200px;
    width: 400px;
    background-color: gray;
    flex-shrink: 0;
}

.top {
    height: 400px;
}

.headline {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 40px;
}

.placeholder {
    height: 150px;
    width: 150px;
    border: 5px solid blue;
    border-radius: 15px;
}

.itemContainer {
    display: flex;
    justify-content: space-around;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 150px; 
}

.itemText {
    text-align: center; 
    padding-top: 10px;
    color: #1F2937;
}

.middle {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 0px 200px;
    gap: 30px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    text-align: center;
}

.author {
    font-size: 25px;
    font-weight: 800;
    align-self: flex-end;
}
